---
// Import the necessary dependencies
import { Image } from "astro:assets";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";
import ReviewComponent from "@components/ui/blocks/ReviewComponent.astro";

// Define props from Astro
interface Props {
  title: string;
  subTitle: string;
  primaryBtn: string;
  primaryBtnURL: string;
  secondaryBtn: string;
  secondaryBtnURL: string;
  withReview: boolean;
  avatarSrcs: string[];
  rating: { score: number; total: number };
  starCount: number;
  reviews: { count: number; text: string };
  src?: ImageMetadata;
  alt: string;
}

const {
  title,
  subTitle,
  primaryBtn,
  primaryBtnURL,
  secondaryBtn,
  secondaryBtnURL,
  withReview,
  avatarSrcs,
  rating,
  starCount,
  reviews,
  src,
  alt
} = Astro.props;
---

<!-- Defining a grid container that holds all the content -->
<section
  class="mx-auto grid max-w-[85rem] gap-4 px-4 py-14 sm:px-6 md:grid-cols-2 md:items-center md:gap-8 lg:px-8 2xl:max-w-full"
>
  <!-- Title and description -->
  <div>
    <h1
      class="block text-balance text-3xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 sm:text-4xl lg:text-6xl lg:leading-tight"
    >
      {title}
    </h1>
    <p
      class="mt-3 text-pretty text-lg leading-relaxed text-neutral-700 dark:text-neutral-400 lg:w-4/5"
    >
      {subTitle}
    </p>
    <!-- Action Button Section -->
    <div class="mt-7 grid w-full gap-3 sm:inline-flex">
      <PrimaryCTA title={primaryBtn} url={primaryBtnURL} />
      <SecondaryCTA title={secondaryBtn} url={secondaryBtnURL} />
    </div>

    <!-- Review Section -->
    {withReview && (
      <ReviewComponent 
        avatars={avatarSrcs} 
        starCount={starCount} 
        rating={`${rating.score} / ${rating.total}`} 
        reviews={`From Over ${reviews.count.toLocaleString()} ${reviews.text}`} 
      />
    )}

  </div>
  <!-- Hero Image Section -->
  <div class="flex w-full">
    <div class="top-12 overflow-hidden">
      {src && (
        <Image
          src={src}
          alt={alt}
          class="h-full w-full scale-110 object-cover object-center"
          draggable={"false"}
          loading={"eager"}
          format={"avif"}
        />
      )}
    </div>
  </div>
</section>